<html>
  <head>
    <meta charset="utf-8">
    <title>Match Game</title>
    <link rel="stylesheet" href="/css/app.css">
    <style id="boardCss"></style>
  </head>
  <body>
    <div id="container">
      <div id="main">
        <div id="board">
          <img class="card covered hoverable"></img>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
      var CLOSURE_NO_DEPS = true;
    </script>
    <script type="text/javascript" src="/js/matchgame.js"></script>
  </body>
</html>
